[Unit]
Description=fessbox backend
After=run-user-0.mount asterisk.service

[Service]
Restart=always
WorkingDirectory=/home/fri/fessbox
ExecStart=/bin/sh -c 'exec /usr/local/bin/node --use-strict index.js >> log/app.log 2>> log/debug.log'
User=fri
Group=fri
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
