{
	"ami": {
		"port": "5038",
		"host": "127.0.0.1",
		"username": "admin",
		"password": "amp111"
	},
	"dongles": {
		"airtel1": {
			"label": "Displayed instead of number from SIM (if specified)",
			"network": "airtel",
			"sms": "own"
		},
		"airtel2": {
			"network": "airtel",
			"sms": "disable"
		},
		"vodacom1": {
			"network": "vodacom",
			"sms": "any"
		}
	},
	"dongleInfoInterval": 69,
	"host": true,
	"console": {
		"in": true,
		"out": true
	},
	"hosts": ["707"],
	"operators": ["701", "703", "705"],
	"external": ["702", "704"],
	"virtual": {
		"master": "2663@ext-local",
		"host": "194",
		"ivr": "191",
		"on_hold": "196",
		"free": "SIP/197@from-internal",
		"ring": "198",
		"parking": "70",
		"parked": "71"
	},
	"defaultSMS": "airtel1"
}
